@import "tailwindcss";

/* ТОЛЬКО базовые сбросы, никаких фиксов */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}